* {
  margin: 0;
  padding: 0; 
}

body{
  background-color:#1e2636;
  color:#e2b266;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

header,footer {
  height: 50px;
  font-size: 1.8em;
  margin:30px;
  display: flex;
  justify-content: center;
}

 h1{
   color:#e2b266;
   text-align: center;
 }

.logoepi {
  width: 25%;
  margin: 0px 50px 0px 50px;
}

.logoepi ~ .logoepi {
  transform: rotate(180deg);
}

/*////////////////////////////STYLE DE LA RECHERCHE*/
.search{
  margin: 50px;
  font-size: 1.5em;
  padding: 40px;
 }

 .search > * {
  margin: 10px;
  /*font-size: 1.2em*/
}

.searchButton{
  background-color: #e2b266;
  border-radius: 15px;
  color:#1e2636; 
  height: 30px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
}


input, select{
  font-size: 0.9em;
  background-color: #e2b266;
  border-radius: 5px;
  border-color: #e2b266;
  color:#1e2636; 
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
}

 /*////////////////////////////STYLE DE LA LISTE*/
 .liste {
   width:65%;  
 }

.label {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;

 }

 .item {
  display: flex;
  flex-direction: row;
  margin: 30px;
  /*width: 120px;
  vertical-align: middle;*/
}

 .element {
   margin: auto 10px;
   font-size: 1.5em;
   /*vertical-align: middle marche si j'utilise display inline block*/
 }
 
 .name {
  width: 60%;
  margin-left: 60px;
}

 .add,.suppr {
  padding:0px;
  border-radius: 15px;
  border: 2px solid #e2b266;
  width: 50px;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 5px; /*pour centrer verticalement*/
}

 .name:hover, .searchButton:hover{
  /*font-weight: bold;*/
  cursor: pointer;
  }

 /*/////////////////////POPUP*/
 .overlay {
  position: fixed;
  left:0px;
  top:0px;
  background-color:rgba(0, 0, 0, 0.40); 
  width: 100%;
  height: 100%;
  display: none;
 }

 
 .popup{
  margin:100px auto;
  width: 70%;
  background-color: #e2b266;
  color:#1e2636;
  border-radius: 5px;
  box-shadow: 15px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 1em;
  position: relative;
} 

.popupdetail{
  margin:20px;
  display: flex;
  font-size: 1.2em;
}

.popuplabel{
  margin:0px 10px 0px 0px;
  font-weight: bold;
  flex: 0 0 250px;
}
.popupClose{
  position : absolute;
  right: 20px;
  font-size: 3em;
  top: 5px;
}

#mapid { height: 200px; }

 /*/////////////////////SELECTION*/
.selectionPerso {
  position: fixed;
  left: 65%;
  top: 250px;
  border-radius: 25px;
  border: 2px solid #e2b266;
  width: 30%;
}

.titreSel {
margin-top: 10px ;
text-align: center;
}

.labelSel {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;

 }